.header {
  flex: 0 0 auto;
  width: 100%;
  height: 60px;
  position:relative;
  z-index: auto;
  box-shadow: 0 8px 10px rgba(74, 74, 161, 0.35);
  background: #516495;
}

.header .container {
  max-width: 1500px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.logo {
    list-style-type: none;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    font-weight: 600;
    text-decoration: none;
    color: #FFFFFF;
}

.logo:hover {
  transition: all .7s ease-in-out;
  color: #1ac1ff;
}

.navbar {
  flex-wrap: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a:hover {
  transition: all .07s ease-in-out;
  color: #1ac1ff;
}