.bg1 {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  align-items: center;
  background-color: rgba(168, 12, 12, 0.21)
}

.bg2 {
  flex: 1 1 auto;
  display: flex;
  max-width: 1540px;
  background-color: rgba(25, 74, 180, 0.21);
  width: 100%;

}

.bg2 .container {
  display: flex;
  flex: 1 1 auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.inside {
  padding: 10px 20px;
}

.body1 {
  display: flex;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  text-align: justify;
  background: #D8D8D8;
}

.body2 {
  flex: 1 1 auto;
  display: flex;
  text-align: justify;
  margin-left: 20px;
  background: #D8D8D8;
}

