.bg1 {
  background-color: rgb(224, 233, 255);

}

.bg2 {
  height:100vh;
  flex: 1 1 auto;
  margin: auto;
  display: flex;
  max-width: 1200px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
}

.bg2 .container {
  display: flex;
  flex: 1 1 auto;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.header {
  padding: 20px 0;
  height: inherit;
  display: flex;
  width: 100%;
  background: #6c6c8c;
}

.htext {
  max-width: 1200px;
  margin: 0 auto;
  height: inherit;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  flex-wrap: inherit;
}

.menu {
  display: flex;

  margin: 15px 10px 15px 30px;
  max-width: 250px;
  width: 30%;
  text-align: justify;
  border-radius: 10px;
  background: #ffffff;
}

.tmenu{
  flex: auto;
  box-sizing: border-box;
  margin: 20px;
  display: flex;
  justify-content: space-between;
  align-items: initial;
}

.tmenu.container{
  flex-wrap: nowrap;
  color: #1ac1ff;
}

.kont {
  flex: 1 1 auto;
  display: flex;
  text-align: justify;
  margin: 15px 30px 15px 30px;
  border-radius: 10px;
  background: #ffffff;
}

.tkont {
  flex: auto;
  height: auto;
  margin: 30px;
}

